header {
    text-align: center;
    flex-direction: column;
    position:fixed;
    width: 20%;
    height: 95vh;
    overflow-y: auto;
    background-color: #e0d2be;
    border-right: 2px #878f99 solid;
}

.palkkiotsikko{
    font-size: 25px;
    font-weight: bold;
    padding: 1%;

}

.palkkitxt{
    font-size: 18px;
}

.navigaatio {
display: flex;
flex-direction: column;
width:100%;

}

.nav1,
.navi{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(57, 57, 57);
}

.nav1,
.navi:hover {
    background-color: #8781793f;
    border-right: 3px solid #5c728d;
}

.kuva{
    margin-top: 5%;
}

.selfiekuva {
    width: 170px;
    height: 170px;
    border-style: solid;
    border-radius: 100px;
    border-color: #5c728d;
}
.otsikko{
    color: rgb(57, 57, 57);
}

#tietoja {
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    padding-top: 22%;
}
#viiva {
    border-top: 3px solid #ffa735;
    opacity: 100%;
    width: 60%;
    margin-left: 20%;
}

main{
    margin-left: 20%;
    padding: 2%;
    flex: 1;
    flex-direction: column;
    
}

#sisältö2{
    margin-left: 20%;
    padding: 2%;
    
}

.tietoja3,.tietoja4 {
    text-align: left;
    
    
}
.tietoja2,
.tietojapt2{
    width: 60%;
    text-align: left;
    float: left;

}
 
#otsikko3,
#otsikko4 {
    display: flex;
    margin-left: 10%;
    text-align: left;
}

hr {
    width:50%;
    opacity:100%;
    margin-left: 5%;
    border-top: 2px solid #ffa735;
    
}

#otsikko2{
    display: flex;
    margin-left: 1%;
    text-align: left;
}
.otsikon2viiva{
    width:80%;
    opacity:100%;
    margin-left: 1%;
    border-top: 2px solid #ffa735;
}

#teksti2 {
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.441);
}

#teksti2viiva{
    width:45%;
    opacity:100%;
    margin-left: 1%;
    border-top: 2px solid #ffa735;
}

#mielenkiinnonkohteet{
    float: right;
    width: 30%;
    font-size: 22px;
    margin-right: 2%;
    margin-top: 2%;
    text-align: center;
    
}

#mielenkiinnonviiva{
    width:100%;
    opacity:100%;
    margin-left: 1%;
    border-top: 2px solid #ffa735;
}

.ikoni{
    font-size: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sivurakenne {
    background-image: url(../images/devaaja.jpg);

}

body{
    font-family: 'Oswald';
    background: rgba(255, 200, 138, 0.212);
}

.koulutus{
    float: left;
    width: 45%;
    flex: 1;
    margin: 1%;
    padding: 1%;
    margin-left: 2%;
}

.työkokemus{
    float: right;
    width: 45%;
    flex: 1;
    margin: 1%;
    padding: 1%;
    margin-left: 2%;
}

#cvotsikko{
    margin-left: 10%;
}

#cvviiva{
    width:60%;
    opacity:100%;
    margin-left: 0%;
    border: none;
    border-top: 3px solid #c38029;
}

#cvviiva2{
    width: 100%;
    margin-left: 0%;
    border: none;
    border-top: 2.5px solid #d4a373;;
}

#yhteystietoja{
    width: 45%;
    text-align: left;
    float:right;
    padding: 1%;
    font-size: 25px;
    
}

#lomake{
    float: left;
    padding: 1%;
    width:35%;
}

.mb-3{
    width: 35%;
}

.somet {
    font-size: 35px;
}

.somet:hover {
    color: #ffa735;
}

footer {
    width: 20%;
    position: fixed;
    text-align: center;
    bottom: 0%;
    background-color: #e0d2be;
    font-size: 13px;
    border-right: 2px #878f99 solid;
}

.copytxt{
    padding: 3%;
}

.some:hover {
    color: #ecad7afa;

}

.some{
color: rgb(57, 57, 57);
transition: 0.5s;
}


