header {
    text-align: center;
    flex-direction: column;
    position:fixed;
    width: 20%;
    height: 95vh;
    overflow-y: auto;
    background-color: #e0d2be;
    border-right: 2px #878f99 solid;
}

.navigaatio {
display: flex;
flex-direction: column;
width:100%;

}

.nav1,
.navi{
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(57, 57, 57);
}

.nav1,
.navi:hover {
    background-color: #8781793f;
    border-right: 3px solid #5c728d;
}

.kuva{
    margin-top: 5%;
}

.selfiekuva {
    width: 170px;
    height: 170px;
    border-style: solid;
    border-radius: 100px;
    border-color: #5c728d;
}
.otsikko{
    color: rgb(57, 57, 57);
}

#tietoja {
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    padding-top: 22%;
}
#viiva {
    border-top: 3px solid #ffa735;
    opacity: 100%;
    width: 60%;
    margin-left: 20%;

}

main{
    margin-left: 20%;
    padding: 2%;
    flex: 1;
    
    flex-direction: column;
}

.tietoja3,.tietoja4 {
    text-align: left;
    
    
}
.tietoja2{
    text-align: left;

}
#otsikko2, 
#otsikko3,
#otsikko4 {
    display: flex;
    margin-left: 10%;
    text-align: left;
}
hr {
    width:50%;
    opacity:100%;
    margin-left: 5%;
    border-top: 2px solid #ffa735;
    
}

.otsikon2viiva{
    width:55%;
    opacity:100%;
    margin-left: 5%;
    border-top: 2px solid #ffa735;
}

#teksti2 {
    display: flex;
    margin-left: 5%;
    margin-right: 40%;
    text-align: left;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sivurakenne {
    background-image: url(../images/devaaja.jpg);

}

body{
    font-family: Arial, sans-serif;
    background: rgba(255, 233, 207, 0.212);
}

.koulutus{
    float: left;

}

.työkokemus{
    float: right;

}

#yhteystietoja{
    width: 42%;
    text-align: left;
    float:right;
    padding: 1%;
    font-size: 25px;
    
}

#lomake{
    padding: 1%;
    width:35%;
}

.mb-3{
    width: 35%;
}

.somet {
    font-size: 30px;
}

.somet:hover {
    color: #ffa735;
}

footer {
    width: 20%;
    position: fixed;
    text-align: center;
    bottom: 0%;
    background-color: #e0d2be;
    font-size: 13px;
    border-right: 2px #878f99 solid;
}

i:hover {
    color: #ecad7afa;
}

i{
color: rgb(57, 57, 57);
}
